#content img {
    width  : 100%;
    height : auto;
}
label.missing, .missing  {  
  color:#FF0000;  
  font-weight:bold;  
}
.ui-btn-corner-all {
    -moz-border-radius: .3em /*{global-radii-buttons}*/;
    -webkit-border-radius: .3em /*{global-radii-buttons}*/;
    border-radius: .3em /*{global-radii-buttons}*/;
}
#banner{
	text-align:center;
        margin:0 auto;
	margin-top: -15px;
	margin-left: -15px;
	margin-right: -15px;
}
#home.ui-body-b{
	background-color : #f00;
}
#p_name{
	margin:0 auto;
	margin-bottom:15px;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
}
#p_logo{
	margin:0 auto;
	display: block;
}